@import '../abstract/variaveis';

.entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;

    .video {
        display: block;
        width: 100%;
        /* Ocupa 100% da largura da tela */
        height: 100vh;
        /* Ocupa 100% da altura da tela */
        object-fit: cover;
        /* Mantém a proporção do vídeo e cobre a tela */
        position: absolute;
        /* Fixa o vídeo na tela, evitando rolagem */
        top: 0;
        left: 0;
        z-index: -1;
    }

    .textos {
        padding: 2rem;
        margin: 1rem;
        z-index: 1;

        /* From https://css.glass */
        background: rgba(236, 236, 236, 0);

        h1 {
            text-align: left;
            font-size: 2rem;
            font-weight: 700;
            color: whitesmoke;
            margin-bottom: 1.5rem;
        }

        p {
            text-align: left;
            font-weight: 500;
            font-size: 1.1rem;
            word-spacing: 8%;
            color: white;
            font-family: $fonte-secundaria;
            line-height: 2rem;

            .highlight {
                position: relative;
                display: inline-block;
                font-weight: 500;
                font-size: 1.1rem;
                font-family: $fonte-secundaria;
            }

            .highlight::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                /* Inicialmente sem largura */
                height: 100%;
                background-color: $vermelho;
                /* Cor de fundo da marcação */
                mix-blend-mode: multiply;
                /* Define o modo de mistura para que a cor de fundo não cubra o texto */
                z-index: -1;
                /* Coloca o pseudo-elemento abaixo do texto */
                transition: width 2s ease-out;
                /* Adiciona uma transição para suavizar a animação */
                border-radius: 5px;
            }

            .highlight.active::before {
                width: 100%;

                /* Largura total quando a classe "active" é aplicada */
            }

            /* Highlight 2 */

            .highlight-2 {
                position: relative;
                display: inline-block;
                font-weight: 500;
                font-size: 1.1rem;
                font-family: $fonte-secundaria;
            }

            .highlight-2::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                /* Inicialmente sem largura */
                height: 100%;
                background-color: $vermelho;
                /* Cor de fundo da marcação */
                mix-blend-mode: multiply;
                /* Define o modo de mistura para que a cor de fundo não cubra o texto */
                z-index: -1;
                /* Coloca o pseudo-elemento abaixo do texto */
                transition: width 2s ease-out;
                /* Adiciona uma transição para suavizar a animação */
                border-radius: 5px;
            }

            .highlight-2.active::before {
                width: 100%;

                /* Largura total quando a classe "active" é aplicada */
            }
        }
    }

    .entrada__img {
        width: 50%;
    }
}

@media screen and (min-width:768px) {

    .entrada {
        flex-direction: row;
        padding: 0 2rem;

        .textos {
            padding-left: 15px;
        }
    }
}


@media screen and (min-width:1440px) {
    .entrada {
        padding: 0 15rem;

    }
}

@media screen and (min-width:2060px) {
    .entrada {
        padding: 0 35rem;
        height: 100vh;
    }

    .entrada__img {
        width: 500px;
    }
}