@import '../abstract/variaveis';

.rodape {
    background-color: rgba(125, 124, 124, 0.097);
    border-radius: 50% 50% 0 0 / 10px;

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .redes {
        display: flex;
        gap: 0.6rem;
        a {
            transition: 500ms all;
            i {
                color: $madeira;
                font-size: 1.6rem;
                transition: 500ms all;
                &:hover {
                    color: $vermelho;
                    margin-bottom: 15px;
                }
            }
        }
        

    }
    .conteudo  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.2rem;
        margin-top: 1rem;
        a {
            text-decoration: none;
            color: $madeira;
            font-size: 1.2rem;
            font-weight: 400;
            &:hover {
                color: $vermelho;
                border-bottom: 2px solid $vermelho;
            }
        }
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        .logo-desktop {
            display: none;
        }
        img {
            width: 100px;
            height: 100px;
        }
    }
    
}

.dev {
    background-color: black;
    padding: 1.5rem;
    p {
        color: white;
        font-size: 0.8rem;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (min-width:768px) {
    
    .rodape {

        display: flex;
        justify-content: space-between;
        padding: 2rem 8rem;

        .conteudo  {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.3rem;
            margin-top: 1rem;
            a {
                text-decoration: none;
                color: $madeira;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }

        .logo {
            .logo-mobile {
                display: none;
            }

            .logo-desktop {
                display: block;
                width: 100%;
            }

            .redes {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0.5rem;
                width: 100%;
                i {
                    color: $madeira;
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {
    .rodape {
        padding: 4rem 15rem;
    }
}

@media screen and (min-width:2260px) {
    .rodape {
        padding: 4rem 45rem;
    }
}