// Fontes
$fonte-principal: 'Instrument Sans', sans-serif;
$fonte-secundaria: 'Poppins', sans-serif;

// Cores
$azul: #2B2A4C; 
$vermelho: #B31312;
$madeira: #2B2A4C;
$branco: #EEE2DE;
$madeirado: #EA906C;
$fonte: #45474B;









