// Fontes
$fonte-principal: 'Instrument Sans', sans-serif;
$fonte-secundaria: 'Limelight', sans-serif;
$fonte-terciaria: 'Oswald', sans-serif;

// Cores
$azul: #2B2A4C; 
$vermelho: #B31312;
$madeira: #2B2A4C;
$branco: #EEE2DE;
$madeirado: #EA906C;








