@import '../../abstract/variaveis';

.navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
        font-size: 2rem;
        color: $azul;
        font-weight: 600;
        padding-top: 2rem;
    }

    .dropdown {
        padding: 1rem;

        select {
            padding: 1rem;
            border: 2px solid $vermelho;
            border-radius: 20px;
            color: $azul;
            font-size: 1.2rem;
            font-weight: 500;

            option {
                color: $azul;
                font-weight: 500;
            }
        }
    }

}

.galeria {
    padding-bottom: 2rem;

    .titulo {
        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: $madeira;
            font-family: $fonte-principal;
            margin: 2rem;
        }
    }

    .imagens {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        .imagens-item {
            transition: 500ms;
            border: 2px solid $vermelho;
            border-radius: 10px;
            box-shadow: -1px 15px 15px -9px rgba(125, 125, 125, 0.46);
            -webkit-box-shadow: -1px 15px 15px -9px rgba(125, 125, 125, 0.46);
            -moz-box-shadow: -1px 15px 15px -9px rgba(125, 125, 125, 0.46);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

}

.clientes {
    background-color: rgba(125, 124, 124, 0.097);
    padding: 1rem 0;
    margin: 2rem 0;

    .titulo {
        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: $madeira;
            font-family: $fonte-principal;
            margin: 1.5rem;
        }
    }

    .clientes-logos {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow-x: auto;
        white-space: nowrap;
        padding: 2rem;
        

        .logos {
            width: 100px;
            border-radius: 50px;
            transition: 300ms;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

/* Estilo para a imagem dentro do modal */
.modal-content {
    max-width: 80%;
    max-height: 80%;
}

/* Estilo para a galeria de imagens */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

/* Estilo para cada imagem na galeria */
.gallery img {
    cursor: pointer;
    margin: 5px;
    max-width: 300px;
    max-height: 300px;
}

@media screen and (min-width:768px) {

    /* Estilo para cada imagem na galeria */
    .gallery img {
        cursor: pointer;
        margin: 5px;
        max-width: 700px;
        max-height: 300px;
    }
}

@media screen and (min-width:768px) {

    /* Estilo para cada imagem na galeria */
    .gallery img {
        cursor: pointer;
        margin: 5px;
        max-width: 465px;
        max-height: 300px;
    }
}

@media screen and (min-width:1024px) {
    .clientes {
        .clientes-logos {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 2rem;
            overflow-x: auto;
            white-space: nowrap;

            .logos {
                width: 100px;
                border-radius: 50px;
            }
        }
    }
}

@media screen and (min-width:1440px) {

    .clientes {
        .clientes-logos {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 2rem;

            .logos {
                width: 110px;
                border-radius: 50px;
            }
        }
    }

    /* Estilo para cada imagem na galeria */
    .gallery img {
        cursor: pointer;
        margin: 5px;
        max-width: 485px;
        max-height: 300px;
    }
}